<div class="container">
  <h1 style="text-align:center">learn new languages</h1>
  <h2 style="text-align:center">to upscale the coding beast in you</h2>

  <p style="text-align:center">browse all the available languages:</p>
  <div class="d-flex justify-content-around align-items-center">
    <%= render 'shared/curriculum'%>
    <div>
      <h1 style="text-align:right"><< please pick <br>a language</h1>
    </div>
  </div>
</div>