<div class="container">
  <form>
    <input type="button" value="Go back!" onclick="history.back()" class="btn btn-dark">
  </form>
  <h1 class="half-highlight my-3">Add a new language to Beast Mode</h1>
  
  <%= simple_form_for(@language) do |f| %>
    <%= f.input :name, placeholder: 'Write a coding language name...'%>
    <%= f.button :submit, class: 'btn btn-dark' %>
  <% end %>

</div>
