<div class="curriculum shadow">
  <ul>
  <% @learning_languages.each do |learning_language| %>
    <% courses_completed = learning_language.user.taking_courses.select do |taking_course| %>
      <% taking_course.completed == true && taking_course.course.language == learning_language.language %>
    <% end %>

    <% if courses_completed.length == learning_language.language.courses.length %>
      <li><i class="far fa-check-square"></i><span class="completed-green"><%= link_to learning_language.language.name.downcase, language_path(learning_language.language) %></span></li>
    <% elsif courses_completed.length.between?(1, (learning_language.language.courses.length - 1))%>
      <li><i class="far fa-square"></i><span class="completed-orange"><%= link_to learning_language.language.name.downcase, language_path(learning_language.language) %></span></li>
    <% else  %>
      <li><i class="far fa-square"></i><span class="not-completed"><%= link_to learning_language.language.name.downcase, language_path(learning_language.language) %><span></li>
    <% end %>
  <% end %>
  </ul>
</div>