<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">profile</a>
  <a href="#">languages</a>
  <%= link_to "versus", versus_path %>
</div>
<span style="font-size:30px;cursor:pointer" id="background-color-nav" onclick="openNav()">&#9655;</span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
