.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.avatar-medium {
  width: 60px;
  height: 60px;
}

.avatar-small {
  width: 45px;
  height: 45px;
}

.avatar-big {
  width: 100px;
  height: 100px;
}