.curriculum {
  border: 3px solid black;
  border-radius: 5px;
  width: 250px;
  padding: 32px 16px;
  margin-top: 16px;
  & li {
    font-size: 30px;
    padding: 5px;
  }
  & li span {
    font-size: 30px;
  }
}

.player {
  flex-direction: column;
  margin: 64px;
}
